body{
      background: #EBD5AE;
      margin:0;
}
div{
      display: block;
      text-align: center;
      margin:0;
      margin-bottom: 20px;
      padding:0;
}

#header{
      height: 300px;
      background-image: url("../img/stripe.png");
      border-bottom: grey 1px solid;
      margin-bottom: 50px;
      font-family: Oswald;
      font-weight: normal;
      font-size: 16px;
      color:#5a5a5a;
}

#header img{
      width:500px;
}

h1{
      font-size: 80px;
}

.colorize{
      width:500px;
}